/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #104c55; /* nicola */
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; 
  }
  
}

/* nicola llama sprites from that bob guy's art */
.llsprite  {
	background-image: url("spritesheet.png") top left no-repeat;
	height: 50px;
	display: inline-block;
	background-position: -10 -10;
	background: yellow;
}
a.llsprite:hover  {
	background-image: url("pirate.png") top left no-repeat;
	height: 5px;
	display: inline-block;
	background-position: -100 -100;
	background: violet;	
}
.llama {
	background-image: url("images/spritesheet.png") -10px -20px no-repeat;
	width: 25px;
	height: auto;
	background-position: -30 -30;
	display: inline-block; /* the orange ate all of the black*/
background-color: red;
}
.llama:hover {
	background-image: url("images/nerd.png") top right;
	width: 45px;
	height: auto;
	align: right;
	background-position: -30 -30;
	display: inline-block; /* the orange ate all of the black*/
background-color: blue;
}
.llama a:hover{
	background-image: url("spritesheet.png") top left no-repeat;
	text-decoration: none;
	height: 50px;
	background: black;
	display: inline-block;
	background-position: -100 -100;
}