
/* borrowed from Eric Meyer resets */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-size: 100%;
	line-height: 1;
	font: inherit;
}
ol, ul {
	list-style: none;
	margin: 0;
    
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix {
	content: " ";
  overflow-y: hidden;
  overflow-x: auto; /*contain the spillage */
  zoom: 1; /*IE */
}
* {
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-align: center;
	/*  -webkit-box-sizing: border-box; /* padding and border of that element no longer increase its width */
     /*-moz-box-sizing: border-box;
          box-sizing: border-box; */
	font-size: 1.10em;
}


/* Nicola 
-- ShayHowe.com, http://learnlayout.com/toc.html */
.container {
	position: relative; /* allow elements relative position  */
	max-width: 100%;
	padding: 0; /* trying to get rid of 40 random pixels */
}
.container {
    display: inline-block;
}
.container::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.container {
    display: block;
}
.nav, .themiddle {

	max-width: 80%;
	margin-bottom: 1%;
}
.nav {
	/*	padding: 1% 1% 1% 1%; */
	background-color: none; 
	list-style-type: none; /* remove bullets */

}
.nav ul {
	background-color: mauve;
}
.nav li {
	display: inline;
	/* padding: 2% 2%; /* spread the menu items out a little */
	/* margin: 2px; */
	padding-left: 1em; /* better spacing than 3% */

	font-size: 90%;
	background-color: #f9f9fd; /* make the background ghostwhite */

}
.nav a
{ text-decoration: none; 
font-family: Vivalvi, Tahoma, Geneva, sans-serif;
/* font-size: 110%; */
/* font-weight: none; */
color: blue;

/*	padding: 2% 2%; /* spread the menu items out a little */
}
.nav a:hover { /* why is this larger than background for li? */
/* 	color: green; no clown makeup here */
	background-color: #21832c;
	color: white;
	border: 1px;
}
.btn {
  background: #21832c;
  color: white;
  display: inline-block;
  font-family: Arial, sans-serif;
  line-height: 1em;
  /* padding: 0 .2em; */
  padding-right: 0.5em;
  padding-left: 0.5em;
  text-decoration: none;
    transition-property: background;
    transition-duration:  1s;
    transition-timing-function: linear, ease in;
}
.btn:hover {
	/* color: blue;
	font-weight: bold;*/
	background-color: maroon; /* #f9f9fd;*/
}

/* Body formatting */
.themiddle {
	background-color: #c5dfbf ;
	 margin-left: 3em; /* center this block */
	margin-right: 3em; 
	/* padding: 0 1% 1% 1%; /*separate elements a bit */
}
.themiddle h1 {
	display: inline-block; 
	 font-size: 90%; 
	 font-weight: bold;
	max-width: 90%;
	font-family: Verdana, sans-serif;
}
.lead {
	font-size: .9em;
}
.marketing {
	margin-top: 0;
	font-size: 90%;
	width: 90%;
	background-color: #f9f9fd;
	padding-right: 1em; /* center marketing ucer themiddle */
	 margin-left: 1em;
} 
.marketing h2 a {
	font-size: 100%;
	text-align: center;
}
.marketing h2 a:visited {
	color: lightblue;
}
.marketing a {
	font-size: 90%;
}
	
/* Footer formatting */
.footer {
position: relative;
}	
footer p { 
font-size: 50%;
}
/* accidentally fixed the llama to the bottom right of the screen. Keeper! */
#myllama {
	width: 1.5em; /* 20px % causes llama dims to change with screen resize */
    height: 2.7em;/* fix aspect ratio and don't interfere with text */
    background: url(../images/llama.png) no-repeat;
	 bottom: 10px;   
    right: -2px; /* end up on some random place on bottom without this */
   background-size: 100%  100%;/* doesn't show up without this */
   position: fixed;
  /*  clear: both; */
   /*max-width: 100%; */
}
