
.llama {

width: 50px;
height: 90px;
postion: relative;
}
.llama::before {
	content: '';
	position: absolute;
	z-index: -1;
	background-image: url("images/nerd.png");
	background-repeat: no-repeat;
	background-position: -20px -10px;
width: 50px;
height: 90px;
}
.clip-pirate {           /* top, right, bottom, left */
  -webkit-clip-path: inset(0px 50px 50px 0px); 
          clip-path: inset(0px 50px 50px 0px); 
}

.llama{           /* top, right, bottom, left */
  -webkit-clip-path: inset(0px 50px 50px 0px); 
          clip-path: inset(0px 50px 50px 0px); 
}

.sprites{           /* top, right, bottom, left */
  -webkit-clip-path: inset(0px 50px 50px 0px); 
          clip-path: inset(0px 50px 50px 0px); 
}